root { 
    display: block;
}

body{
    font-family: sans-serif;
    font-size: 11pt;
}

.ativo{
    background-color: lightblue;
}

.inativo{
    background-color: white;
}

.header{
    background-color: darkblue;
    color: white;
}

.messages{
    color:red;
    font-weight: bolder;
}

.listTimes tr td {
    padding: 9px;
    text-align: center;
}

.listTimes tr th {
    padding: 9px;
    text-align: center;
}

